<% layout('layouts/boilerplate.ejs') %>


    <div class="row justify-content-md-center">
        <h1 class="text-center">Edytuj Kampex</h1>
        <div class="offset-3 col-6  ">
            <form action="/kampex/<%=kampex._id%>?_method=PUT" method="POST">


                <div class="mb-3"><label class="form-label" for="title">Tytul</label>
                    <input class="form-control" type="text" id="title" name="kampex[title]" value="<%=kampex.title%>">
                </div>
                <div class="mb-3"><label class="form-label" for="location">Lokalizacja</label>
                    <input class="form-control" type="text" id="location" name="kampex[location]"
                        value="<%=kampex.location%>">
                </div>
                <div class="mb-3"><label class="form-label" for="image">Zdjecie URL</label>
                    <input class="form-control" type="text" id="image" name="kampex[image]" value="<%=kampex.image%>">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Cena Kampex</label>

                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="price-label">ZL</span>
                        </div>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" name="kampex[price]" value="<%=kampex.price%>">
                    </div>
                </div>
                <div class="mb-3"><label class="form-label" for="description">Opis</label>
                    <textarea class="form-control" type="text" id="description"
                        name="kampex[description]"><%=kampex.description%></textarea>
                </div>

                <div class="mb-3">
                    <button class="btn btn-info">Zmien Kampex</button>

                </div>
            </form>
            <a href="/kampex/<%=kampex._id%>">Powrot do Kampex</a>
        </div>
    </div>