<% layout('layouts/boilerplate.ejs') %>

    <div class="row d-flex justify-content-center">
        <div class="col-6 offset-3">
            <div class="card mb-3">
                <img class="card-img-top" src="<%=kampex.image%>" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= kampex.title %>
                    </h5>
                    <p class="card-text">
                        <%=kampex.description%>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= kampex.location %>
                    </li>
                    <li class="list-group-item">
                        <%= kampex.price %>zl / za dzien
                    </li>
                </ul>
                <div class="card-body">
                    <a href="/kampex/<%=kampex._id%>/edit" class="card-link btn btn-info">Edytuj Kampex</a>
                    <form class="d-inline" action="/kampex/<%=kampex._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Usun</button>
                    </form>

                </div>
                <div class="card-footer text-muted"><a href="/kampex/">Wszystkie Kampex</a></div>
            </div>
            <h2>Zostaw Opinie!</h2>
            <form action="/kampex/<%=kampex._id%>/reviews" method="POST" class=" mb-3">
                <div class=" mb-3">
                    <label class="form-label" for="rating">Ocena</label>
                    <input class="form-range" type="range" min="1" max="5" id="rating" name="review[rating]">
                </div>
                <div class=" mb-3">
                    <label class="form-label" for="review">Opinie</label>
                    <textarea class="form-control" name="review[body]" id="review" cols="30" rows="3"></textarea>
                </div>
                <button class="btn btn-success">Zamieść</button>
            </form>
        </div>
    </div>